[data-theme="bright"] {
    --primary-color: #FFFFFF;
    --secondary-color: #2977f5;
    --tertiary-color: #ff481c;
    --disabled-color: #7F7F7F;
    --shadow-color: rgba(41, 119, 245, .5);
    --font-color: #000000;
}

[data-theme="dark"] {
    --primary-color: #1A1A1A;
    --secondary-color: #58b2e9;
    --tertiary-color: #f14f4f;
    --disabled-color: #7F7F7F;
    --shadow-color: rgba(88, 178, 233, .5);
    --font-color: #FFFFFF;
}

[data-theme="pastel"] {
    --primary-color: #FFE9C8;
    --secondary-color: #374259;
    --tertiary-color: #A86464;
    --disabled-color: #7F7F7F;
    --shadow-color: rgba(55, 66, 89, .5);
    --font-color: #1A1A1A;
}

[data-theme="vintage"] {
    --primary-color: #FDF8E9;
    --secondary-color: #186F65;
    --tertiary-color: #B2533E;
    --disabled-color: #7F7F7F;
    --shadow-color: rgba(24, 111, 101, .5);
    --font-color: #1A1A1A;
}

[data-theme="neon"] {
    --primary-color: #900C3F;
    --secondary-color: #00DFA2;
    --tertiary-color: #F6FA70;
    --disabled-color: #C3C3C3;
    --shadow-color: rgba(24, 111, 101, .5);
    --font-color: #FFFFFF;
}

*, body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    color: var(--font-color);
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

/* FORM */

.form {
    width: 80%;
    max-width: 500px;
    margin: 4rem auto;
}

.form__item,
.form__btn--send,
.form__btn--cancel {
    padding: .5rem 1rem;
    border: 2px solid var(--secondary-color);
    transition: .15s ease-in;
}

.form__label {
    display: block;
    max-width: 90%;
    padding-left: 1rem;
    white-space: nowrap;
}

.form__item {
    width: 100%;
    margin: .5rem 0;
    border-radius: 25px;
    background-color: var(--primary-color);
}

.form__item:focus {
    outline: none;
}

.form__item:hover,
.form__item:focus {
    box-shadow: 0 1px 6px var(--shadow-color);
}

.form div {
    display: flex;
}

.form__btn--cancel,
.form__btn--send {
    width: 50%;
    color: var(--primary-color);
    cursor: pointer;
}

.form__btn--cancel {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    border-radius: 25px 0 0 25px;
}

.form__btn--send {
    background-color: var(--secondary-color);
    border-radius: 0 25px 25px 0;
}

/* LIST */

.items__list {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 2rem;
}

.items__list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 .5rem;
    border-bottom: 2px solid var(--secondary-color);
    font-size: 1.25rem;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.list--item--text {
    max-width: 70%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.item--text--check {
    color: var(--secondary-color);
}

.list--item--text p,
.form__label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.checked {
    text-decoration: line-through;
    color: var(--disabled-color);
}

.item--text--expand {
    color: var(--font-color);
    display: none;
    cursor: pointer;
}

.item--btn {
    padding: .25rem;
    border-radius: 50%;
    cursor: pointer;
}

.item--btn--edit {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    margin-right: .5rem;
}

.item--btn--delete {
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}

@media screen and (min-width: 540px) {
    .list--item--text {
        max-width: 80%;
    }
}

/* THEME COLOR */

.theme__btn,
.theme__selection {
    padding: .5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    background-color: var(--primary-color);
}

.theme__btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: fixed;
    right: 3vw;
    top: 3vw;
}

.theme__btn--color {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--secondary-color);
    border: 2px solid var(--font-color);
    border-radius: 50%;
}

.theme__selection {
    width: fit-content;
    display: flex;
    gap: .5rem;
    position: absolute;
    right: 110%;
}

.theme__selection--hidden {
    display: none;
}

.bright {
    background-color: #FFFFFF;
}

.dark {
    background-color: #1A1A1A;
}

.pastel {
    background-color: #374259;
}

.vintage {
    background-color: #186F65;
}

.neon {
    background-color: #00DFA2;
}