:root {
    --primary-color: #fdf8e9;
    --secondary-color: #186F65;
    --tertiary-color: #B2533E;
    --disabled-color: #7F7F7F;
    --shadow-color: rgba(24, 111, 101, .5);
    --font-color: #1A1A1A;
    --primary-font: 'Fira Sans', sans-serif;
}

*, body {
    font-family: var(--primary-font);
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

/* FORM */

.form {
    width: 80%;
    max-width: 500px;
    margin: 3rem auto;
}

.form__item,
.form__btn--send,
.form__btn--cancel {
    padding: .5rem 1rem;
    border: 2px solid var(--secondary-color);
    transition: .15s ease-in;
}

.form__item {
    width: 100%;
    margin-bottom: .5rem;
    border-radius: 25px;
    background-color: var(--primary-color);
}

.form__item:focus {
    outline: none;
}

.form__item:hover,
.form__item:focus {
    box-shadow: 0 1px 6px var(--shadow-color);
}

.form div {
    display: flex;
}

.form__btn--cancel,
.form__btn--send {
    width: 50%;
    color: var(--primary-color);
    cursor: pointer;
}

.form__btn--cancel {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    border-radius: 25px 0 0 25px;
}

.form__btn--send {
    background-color: var(--secondary-color);
    border-radius: 0 25px 25px 0;
}

/* LIST */

.items__list {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.items__list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 .5rem;
    border-bottom: 2px solid var(--secondary-color);
    font-size: 1.25rem;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.list--item--text {
    max-width: 70%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.item--text--check {
    color: var(--secondary-color);
}

.list--item--text p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.checked {
    text-decoration: line-through;
    color: var(--disabled-color);
}

.item--text--expand {
    display: none;
    cursor: pointer;
}

.item--btn {
    padding: .25rem;
    border-radius: 50%;
    cursor: pointer;
}

.item--btn--edit {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    margin-right: .5rem;
}

.item--btn--delete {
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}

@media screen and (min-width: 540px) {
    .list--item--text {
        max-width: 80%;
    }
}